<!-- Componente ClientesFelices -->
<div class="container-fluid pt-4 pb-4">
    <div class="container-fluid">
        <div class="row ms-lg-4 ms-xl-4 ms-xxl-4 me-lg-4 me-xl-4 me-xxl-4 bg-white rounded">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="mt-2 mb-2 pe-lg-3 pe-xl-3 pe-xxl-3">
                    <img src="../../assets/images/cliente_1.webp" alt="cliente feliz 1" class="img-fluid w-100 fotos_clientes rounded mx-auto d-block">
                    <div class="container-fluid">
                        <h5 class="pt-3">Giovani Rivero</h5>
                        <p class="fst-italic text-center">"...llegó todo dos días antes de la fecha estimada, los recomiendo al 100%"..."</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="mt-2 mb-2">
                    <img src="../../assets/images/cliente_2.webp" alt="cliente feliz 2" class="img-fluid w-100 fotos_clientes rounded mx-auto d-block">
                    <div class="container-fluid">
                        <h5 class="pt-3">Loreto Tiznado</h5>
                        <p class="fst-italic text-center">"...las Photocards venían muy bien protegidas dentro del empaque..."</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="mt-2 mb-2 ps-lg-3 ps-xl-3 ps-xxl-3">
                    <img src="../../assets/images/cliente_3.webp" alt="cliente feliz 3" class="img-fluid w-100 fotos_clientes rounded mx-auto d-block">
                    <div class="container-fluid">
                        <h5 class="pt-3">Nicole Miranda</h5>
                        <p class="fst-italic text-center">"...La caja venía bien sellada y me regalaron unos dulces uwu, me encantó todo..."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
